*{
    margin: 0px;
    padding: 0px;
}

html,body,h1,a {

    margin: 0;
    overflow-x: hidden; 
}

header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.959);
} 

.lineaire-simple {
    background: linear-gradient(blue, rgb(0, 0, 0));
  }


body {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 1;

}

.balise {
    width: 80px;
}


h1 {
    font-size: 70px;
    line-height: 6rem;
    padding-top: 12rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    color:rgb(255, 255, 255);
    /*background-color: #040018;*/
    background: linear-gradient(black, #090035);
    z-index: 0;
    flex-direction: column;

   /* text-shadow: rgb(162, 252, 255) 1px 0 5px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
    */
}


h2 {
    font-size: 40px;
    line-height: 6rem;
    padding-top: 0rem;
    padding-bottom: 2rem;
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: #040018;
    background: linear-gradient(#090035, black);
    z-index: 1;
    /* text-shadow: rgb(162, 252, 255) 1px 0 5px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
    */
}

.btn {
    text-align: center;
    background-color: #000000;
    margin:1em;
    padding:1rem;
    border-radius:0px;
    color: #9fe4ff;
    font-size: 18px;
    text-align: center;
    height: 20px;
    margin-left: 0rem;
    z-index: 10000;
    border: thick double #9fe4ff;
    /* box-shadow: 4px 4px 2px rgb(38, 6, 48); */
  }

  a:hover.btn {
    background:#02001d;
    padding: 1em;
    z-index: 6000;
  }

.center {
    text-align: center;
    background-color: #000000;
    z-index: 6000;
}





@media screen and (min-width:650px) {

header nav ul { list-style: none; padding: 0rem; margin: 0; height: 80px;  z-index: 3;}
header nav li { background-color: rgb(0, 0, 0); text-align: center;  z-index: 3; }
header nav li:nth-of-type(5n+1) { background-color: #0c063f;  z-index: 3; }
header nav li:nth-of-type(5n+2) { background-color: #1c2053;  z-index: 3; }
header nav li:nth-of-type(5n+3) { background-color: #0c063f;  z-index: 3; }
header nav li:nth-of-type(5n+4) { background-color: #1c2053;  z-index: 3; }
header nav li:nth-of-type(5n+5) { background-color: #0c063f;  z-index: 3; }
header nav a { color: rgb(255, 255, 255); font-size: 25px; line-height: 70px; text-decoration: none; }

header nav ul{
  display:flex;
  align-items:center;
  justify-content:center;
  height:80px;
  width:100%;
  margin-top: 0rem;
  z-index: 3;
  position: fixed;
}

header nav ul li{
  flex:1;
  height:70px;
  margin-left: 1rem;
  margin-right: 1rem;
}

header nav ul li:hover{
    animation: aura 2s infinite;
  }

header nav ul li a{
  display:block;
  width:100%;
  height:100%;
}

header nav ul li a:hover {
	background-color:rgb(1, 0, 44);
    color: rgb(146, 255, 255);
    text-decoration: underline;
}


}




h3 {
text-align: center;
font-size: 40px;
color: rgb(167, 245, 255);
padding-top: 4rem;
padding-bottom: 0rem;
/*background-color: #04001d;*/
font-family:Georgia, 'Times New Roman', Times, serif;
text-shadow: rgb(162, 252, 255) 1px 0 2px;
}


h4 {

    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
  
}





#about {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 18rem;
    padding-bottom: 6rem;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}



#competences {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #040018;

}

#outils {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    padding-top: 2rem;
    padding-bottom: 4rem;
    

}


#realisations {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #040018;
    /*background: linear-gradient(black, #040018);*/

}

#contact {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
  /*  background: linear-gradient( #040018,black);*/

}





.partie {
    padding-top: 6rem;
    padding-bottom: 8rem;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


.txtAbout {
    
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    font-size: 22px;
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    max-width: 1000px;
}


.paragraphe {
    margin: 2rem;
    max-width: 500px;
}




.logoLangage {

    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    /* background-color: rgb(0, 0, 0); */

}

.txtLogoLangage {
    margin: 3rem;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    font-size: 20px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: center;
    /*text-shadow: rgb(162, 252, 255) 1px 0 2px;*/
}


.txtLangages {
    
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    font-size: 22px;
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: center;
}

.bloc {

    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    max-width: 200px;
    width:200px;
    height: 140px;
    font-size: 20px;
    margin: 2rem;
    margin-left: 2rem;
    padding: 2rem;
    padding-top: 2rem;
    background-color: #00183dd8;
    animation: float 1.5s infinite ease-in-out alternate, aura 1s infinite;
    transition: width 2s, height 2s, background-color 0.6s, transform 1s;
}

/*
.bloc3:hover {
    background-color: #ccfcff96;
    width: 220px;
}
*/

.imgLogo {
    width: 200px;
    height: auto;
    text-align: center;
    animation: aura 2s infinite;
}


.delay2 {
    animation-delay: .3s;
    }
    
.delay3 {
    animation-delay: .5s;
    }
    

.imgLogoJS {
     width: 65%;
     height: auto;
     margin-left: 2.2rem;
     text-align: center;
     animation: aura 2s infinite;
}



.bloc2 {

    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    max-width: 200px;
    height: auto;
    font-size: 20px;
    margin: 3rem;
    margin-left: 2rem;
    padding: 2rem;
    padding-top: 2rem;
    background-color: #00183dd8;
    animation: float 1.5s infinite ease-in-out alternate, aura 1s infinite;
    transition: width 2s, height 2s, background-color 0.6s, transform 1s;
    
}

.imgLogo2 {
    width: 180px;
    height: auto;
    text-align: center;
    animation: aura 2s infinite;
}





.partie2 {
    padding-top: 6rem;
    padding-bottom: 10rem;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


.bloc3 {

    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    max-width: 1000px;
    height: auto;
    font-size: 20px;
    margin: 3rem;
    margin-left: 2rem;
    background-color: #00183dd8;
    
    animation: aura 1s infinite;
    transition: width 2s, height 2s, background-color 0.6s, transform 1s;
    
}

.imgLogo3 {
    width: px;
    height: auto;
    text-align: center;
    animation: aura 2s infinite;
}





.bloc4 {

    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    max-width: 500px;
    height: auto;
    font-size: 20px;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: center;
    z-index: 0;
    

    
}

.imgLogo4 {
    width: 500px;
    height: auto;
    text-align: center;
    animation: aura 2s infinite;
}





@keyframes aura {
    0% { filter: drop-shadow(3px 3px 3px rgba(139, 241, 255, 0.671)); }
    50% { filter: drop-shadow(3px 3px 3px rgba(139, 241, 255, 0.582)); }
    100% { filter: drop-shadow(3px 3px 3px rgba(139, 241, 255, 0.671)); }
  }

  @keyframes float {
    0% {
    transform: translateY(0px) rotate(-1deg);
    box-shadow: 0 40px 10px -18px hsla(0,0%,0%,.2),
                        0 40px 16px -12px hsla(0,0%,0%,.2);
                    }
	100% {
    transform: translateY(20px) rotate(1deg);
    box-shadow: 0 40px 10px -18px hsla(0,0%,0%,.2),
    					0 40px 16px -12px hsla(0,0%,0%,.2);
  }
}


.top {
    text-align: right;
    padding: 2rem;
    margin-top: 4rem;
    margin-left: 100rem;
    background-color: #00000000;
    position: fixed;
    z-index: 3;
}

.top a:visited {
    color:rgb(146, 255, 255)
}




footer {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    font-size: 22px;
    padding-top: 5rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #040018;
    
}



.txtInfo {
    
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    font-size: 18px;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


.infoGeneral {
margin-right:6rem;
}

.infoContact {
margin-left:6rem;
margin-right:6rem;
}

.infoMentions {
margin-left:6rem;
}






.paragraphe {
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 500px;
}


.mentionsLegales {
    color: white;
}

.mentionsLegales a:visited {
    color:rgb(146, 255, 255)
}

.link {
    color:rgb(146, 255, 255)
}






@media screen and (max-width:650px) {

    
h1 {
    font-size: 50px;
    line-height: 6rem;
    padding-top: 6rem;
    padding-bottom: 0rem;
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    /*
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
    */ 
}


h2 {
    font-size: 25px;
    line-height: 6rem;
    padding-top: 0rem;
    padding-bottom: 8rem;
    padding: 1rem;
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    background-color: #040018;
    /*
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
    */
}

.partie {
    padding-top: 1rem;
    padding-bottom: 6rem;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


.txtAbout {
    
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    font-size: 22px;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    max-width: 1000px;
}



#langages {
padding-top: 10rem;
}



/*
.bloc3:hover {
    background-color: #ccfcff96;
    width: 220px;
}
*/

/*
.imgLogo {
    width: 250px;
    height: 150px;
    text-align: center;
    animation: aura 2s infinite;
}
*/

/*
.imgLogoJS {
    width: 120px;
    height: 150px;
    margin-left: 4rem;
    text-align: center;
    animation: aura 2s infinite;
}
*/


.nomobile {
display:none;
}




.bloc {

    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    max-width: 200px;
    width:300px;
    height: 140px;
    font-size: 20px;
    margin: 2rem;
    margin-left: 2rem;
    padding: 2rem;
    padding-top: 2rem;
    background-color: #00183dd8;
    animation: float 1.5s infinite ease-in-out alternate, aura 1s infinite;
    transition: width 2s, height 2s, background-color 0.6s, transform 1s;
}




}



@media only screen and (max-width: 650px){

    header nav ul { list-style: none; padding: 0rem; margin: 0; height: 80px; }
    header nav li { background-color: lightgrey; text-align: center; }
    header nav li:nth-of-type(5n+1) { background-color: #ffae00; }
    header nav li:nth-of-type(5n+2) { background-color: #f32400; }
    header nav li:nth-of-type(5n+3) { background-color: #e286e2; }
    header nav li:nth-of-type(5n+4) { background-color: #ee7300; }
    header nav li:nth-of-type(5n+5) { background-color: #8dff6b; }
    header nav a { color: rgb(0, 0, 0); font-size: 25px; line-height: 80px; text-decoration: none; }


   nav {
       display:none;
   }
	nav ul {
		transform: translateY(0);
		box-shadow: 0 0 5px rgba(0,0,0, .7);
      transition: all .5s;
      position: absolute;
      width: 100%;
	}
	nav li {
		flex: none; 
		width: 100%;
		border-bottom: solid 1px #777;
	} 
	nav input[type="checkbox"]:checked + ul  {
		transform: translateY(-100%);
		width: 100%;
		background: #999;   
      transition: all .5s;
	}
	nav label{
      display: block;
   }  
	nav input[type="checkbox"]:checked + ul li:nth-child(1){
		background: #777; 
		color: #fff;
	}  


}


    .top {
        text-align: right;
        padding: 2rem;
        margin-top: 1rem;
        margin-left: 8rem;
        background-color: #00000000;
        position: fixed;
        z-index: 3;
    }




.area {
    background: #000000fa;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:760px;
    z-index:0;
   
}

.fragments{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    overflow: hidden;
    animation: aura 1s infinite;
    z-index:0;
}

.fragments li{
    position: absolute;
    display: block;
    list-style: none;
    width: 10px;
    height: 10px;
    background: rgba(205, 253, 255, 0.74);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.fragments li:nth-child(1){
    left: 2%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
}


.fragments li:nth-child(2){
    left: 5%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 5s;
}

.fragments li:nth-child(3){
    left: 15%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.fragments li:nth-child(4){
    left: 20%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 4s;
}

.fragments li:nth-child(5){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 3s;
}

.fragments li:nth-child(6){
    left: 50%;
    width: 10px;
    height: 10px;
    animation-delay: 1s;
    animation-duration: 3s;
}

.fragments li:nth-child(7){
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
    animation-duration: 3s;
}

.fragments li:nth-child(8){
    left: 80%;
    width: 15px;
    height: 15px;
    animation-delay: 1s;
    animation-duration: 3s;
}

.fragments li:nth-child(9){
    left: 90%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 8s;
}

.fragments li:nth-child(10){
    left: 25%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 4s;
}


.fragments li:nth-child(11){
    left: 40%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 3s;
}

.fragments li:nth-child(12){
    left: 50%;
    width: 10px;
    height: 10px;
    animation-delay: 1s;
    animation-duration: 3s;
}

.fragments li:nth-child(13){
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 3s;
}

.fragments li:nth-child(14){
    left: 65%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 5s;
}

.fragments li:nth-child(15){
    left: 90%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 8s;
}

.fragments li:nth-child(16){
    left: 25%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 6s;
}

.fragments li:nth-child(17){
    left: 40%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 3s;
}

.fragments li:nth-child(18){
    left: 50%;
    width: 10px;
    height: 10px;
    animation-delay: 3s;
    animation-duration: 3s;
}

.fragments li:nth-child(19){
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 3s;
}

.fragments li:nth-child(20){
    left: 80%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 5s;
}

.fragments li:nth-child(21){
    left: 85%;
    width: 15px;
    height: 15px;
    animation-delay: 1s;
    animation-duration: 3s;
}

.fragments li:nth-child(22){
    left: 75%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 2s;
}

.fragments li:nth-child(23){
    left: 90%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 8s;
}

.fragments li:nth-child(24){
    left: 25%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 6s;
}

.fragments li:nth-child(25){
    left: 40%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 3s;
}

.fragments li:nth-child(26){
    left: 50%;
    width: 10px;
    height: 10px;
    animation-delay: 1s;
    animation-duration: 3s;
}

.fragments li:nth-child(27){
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
}

.fragments li:nth-child(28){
    left: 80%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 5s;
}

.fragments li:nth-child(29){
    left: 7%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 5s;
}

.fragments li:nth-child(30){
    left: 95%;
    width: 10px;
    height: 10px;
    animation-delay: 1s;
    animation-duration: 3s;
}




@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    50%{
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}






.inline-photo {
    /* box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2); */
    opacity: 0;
    transform: translateY(6em) rotateZ(-0deg);
    transition: transform 3s 0s cubic-bezier(0,1,.3,1),
                opacity .3s .0s ease-out;
    will-change: transform, opacity;
  }
  
  .inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(-0deg);
  }
  
  

  .inline-photo2 {
    /* box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2); */
    opacity: 0;
    transform: translateY(2em) rotateZ(-0deg);
    transition: transform 1s 0s cubic-bezier(0,1,.3,1),
                opacity .3s .0s ease-out;
    will-change: transform, opacity;
  }
  
  .inline-photo2.is-visible {
    opacity: 1;
    transform: rotateZ(-0deg);
  }
